.parent{
    background-color:light grey;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
}
.img{
    height: 50px;
    width: 60px;
}
.child{
    background-color: white;
    border: whitesmoke;
    border-radius: 10px;
    border-style:solid;
    padding: 10px;
    text-align: center;    
}
.search{
    width: 200px;
    border: whitesmoke;
    height: 30px;
    border-style:solid;
}
.div{
    padding: 10px;
    text-align: center;   
}









